{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if tops.published_date %}
    		<div class="date">
        		{{ tops.published_date }}
    		</div>
		{% else %}
    		<a class="btn btn-default" href="{% url 'post_publish' pk=tops.pk %}">Publish</a>
		{% endif %}
        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'post_edit' pk=tops.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        	<a class="btn btn-default" href="{% url 'post_remove' pk=tops.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ tops.title }}</h1>
        <p>{{ tops.text|linebreaksbr }}</p>
    </div>
{% endblock %}